input[type="text"],
input[type="email"],
select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
}

input[type="checkbox"],
input[type="radio"] {
    margin-right: 5px;
}

button {
    background-color: lightblue;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: deepskyblue;
}

/* Focus Styles */
input:focus,
select:focus {
    border: 2px solid blue;
}